[submodule "missingDataTrainingModule/PytorchDistributionUtils"]
	path = missingDataTrainingModule/PytorchDistributionUtils
	url = https://github.com/HugoSenetaire/PytorchDistributionUtils.git
[submodule "missingDataTrainingModule/Prediction/SupervizedLearningWithMissingData"]
	path = missingDataTrainingModule/Prediction/SupervizedLearningWithMissingData
	url = https://github.com/HugoSenetaire/SupervizedLearningWithMissingData.git